@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: url(img/capa2.jpg) no-repeat center / cover;
    padding: 50px 5%;
}

.container {
    position: relative;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 30px;
    transform: scale(0);
    animation: zoom-in 1s ease forwards;
}

@keyframes zoom-in {
    100% {
        transform: scale(1);
    }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.animated {
    transform: translateY(30px);
    opacity: 0;
    animation: slide-in 1s ease forwards;
    animation-delay: 1s;
}

@keyframes slide-in {
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}

.navbar a:hover,
.navbar a.active {
    border-bottom: 2px solid #fff;
}

.menu-icon {
    display: none;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}

.home {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 50px 5% 0;
    color: #fff;
    animation-delay: 1.5s;
}

.home-detail h1 {
    font-size: 55px;
    line-height: 1;
}

.home-detail p {
    font-size: 16px;
    margin: 20px 0;
    max-width: 700px;
    color: #eee;
}


@media (max-width: 768px) {
    .navbar {
        position: absolute;
        top: 90px;
        right: 5%;
        background: rgba(0, 0, 0, 0.9);
        padding: 20px 30px;
        border-radius: 12px;
        flex-direction: column;
        align-items: flex-start;
        display: none;
        gap: 15px;
    }

    .navbar.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    .home {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }

    .home-detail h1 {
        font-size: 35px;
    }

    .home-detail p {
        font-size: 15px;
    }
}
